# Игнорируем директорию в корне рабочей директории
/tmp/

# Игнорируем файлы в любой директории
index.html_old
NeuroStartUp.png_backup

# Игнорируем файл в директории /img
/img/Thumbs.db

# Игнорируем файл в корневой директории
/.DS_Store